[submodule "externals/anoncreds"]
  path = externals/anoncreds
  url = git@github.com:input-output-hk/anoncreds-rs.git
  branch = feature/wasm-integration

[submodule "externals/didcomm"]
  path = externals/didcomm
  url = git@github.com:sicpa-dlab/didcomm-rust.git
